* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.eh-height-nav {
  background-color: blueviolet;
  height: 150px;
}

.eh-intro {
  height: 100vh;
}

.eh-intro-img {
  background-color: rgb(34, 10, 10);
  height: 300px;
  width: 300px;
  color: blanchedalmond;
}
.eh-intro-text {
  background-color: rgb(21, 218, 218);
  height: 300px;
  width: 300px;
  color: blanchedalmond;
}

.eh-intro-col {
  height: 70vh;
}

.onehundred {
  height: 100%;
}

.t-border-1 {
  border: 2px dotted blue;
}
.t-border-2 {
  border: 10px dotted red;
}
.t-border-3 {
  border: 2px dotted green;
}
.t-border-4 {
  border: 2px dotted purple;
}
.t-border-5 {
  border: 2px dotted yellow;
}

.card {
  border-radius: 1rem;
  filter: drop-shadow(1rem 1rem 1rem #a8a9aa);
  margin: 10px 10px 10px 0;
  padding: 0;
  overflow: hidden;
  width: 300px;
}

button {
  margin: 0;
  padding: 0;
}

/* Intro.js */

.glass {
  height: 80vh;
  width: 80%;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(235, 235, 235, 0.7)
  );
  backdrop-filter: blur(0.3rem);
  border-radius: 1rem;
}

.intro-bg {
  background-color: grey;
  background-image: url('http://www.dinpattern.com/tiles/afx-skyrim.gif');
  height: 100vh;
}

.glass-container {
  width: 35%;
  text-align: center;
  margin: 1rem 2rem;
}

.glass-container button {
  filter: drop-shadow(0px 8px 5px grey);
  font-size: 1.5rem;
  border: none;
}

.glass-container img {
  border-radius: 1rem;
}

.glass-container h1 {
  font-size: 2.5rem;
}

/* This is a short way to make flex-justify-center & Flex-align-center  */
/* If we use bootstrap it'll be tedious "d-flex justify-content-center align-item-center" */
.flex-j-a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Results.js */
.results {
  background-image: url('assets/2/hintimage.jpeg');
  background-size: cover;
  /* margin: auto;
  width: 50%; */
  display: flex;
  justify-content: center;
}

.box {
  height: 45vh;
  /* This hides the scrollbar but keeps functionality */
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.box::-webkit-scrollbar {
  display: none;
}

.result-card {
  height: 80%;
  margin: 5px 0 !important;
  width: 15rem !important;
  filter: none;
}
.background-card {
  height: 400px;
  margin: 5px  !important;
  width: 20rem !important;
 
}

.result-card img {
  height: 65%;
}
.background-card img {
  height: 65% !important;
}

.container-box {
  height: auto;
  text-align: center;
  border: 3px solid grey;
  font-size: 2rem;
  color: white;
}

@media (max-width: 576px) {
  .box1 {
    overflow: scroll;
  }
  .container-box {
    background-color: black;
  }
}

/* .correct-answer {
  background: linear-gradient(
    to right bottom, 
    rgba(255, 255, 255, 0.5), 
    rgba(235, 235, 235, 0.7)
  );
  width: 100%;
  border: 1px grey solid;
  height: 25rem;
}

.c-left-box {
  height: 100%;
  width: 35%;
  background-color: rgba(72, 241, 188, 0.7);
}

.c-right-box {
  width: 60%;
}
.c-right-box .card {
  width: 15rem !important;
  height: 23.5rem;
  border-radius: 1rem;
} */

/* this is for the background detail page */

.eh-position {
  margin-left: -20vw;
}
@media screen and (max-width: 768px) {
  .eh-position {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .eh-position {
    margin-left: -18vh;
  }
}

@media screen and (max-width: 768px) {
  .card-eh {
    width: 100%;
  }
}
