.introButton {
  position: absolute;
  top: 50vh;
  left: 50vw;
}

.textbox {
  position: absolute;

  top: 40vh;
  right: 10vw;
  width: 400px;
  height: 200px;
}

.center-box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.intro-bg{
background-image: url("http://www.dinpattern.com/tiles/afx-skyrim.gif");
}

